<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/navbar.css" />
        <title>Document</title>
    </head>
    <body>
        <ul class="navbar-container">
            <a href="https://github.com/KARDT89/members-only" target="_blank"
                ><p>Member's Only</p></a
            >
            <div>
                <% if (user) {%>
                <a href="/"><li>Home</li></a>
                <a href="/posts/new"><li>Add Post</li></a>
                <a href="/posts/new"><li>Membership</li></a>
                <%}%>
            </div>

            <div class="right">
                <% if (user) {%>
                <p class="welcome-user">
                    Welcome, <%= user.username.toUpperCase() %>
                </p>
                <% if (user.is_admin === true) { %>
                    <a href="/posts"><li>Admin</li></a>
                <% } %>
                <a href="/log-out"><li id="logout">Logout</li></a>
                <% } else { %>
                    <a href="/login"><li>Login</li></a>
                    <a href="/sign-up"><li>Signup</li></a>
                <%}%>
            </div>
        </ul>
    </body>
</html>
