<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/navbar.css" />
        <title>Document</title>
    </head>
    <body>
        <ul>
            <a href="https://github.com/KARDT89/members-only" target="_blank"><p>Member's Only</p></a>
            <div>
                <% if (user) {%>
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Manage</a></li>
                <li><a href="/posts/new">Add Post</a></li>
                <%}%>
            </div>
           
            <div class="right">
                <% if (user) {%>
                <p>Welcome, <%= user.username.toUpperCase() %></p>
                <li><a href="/log-out">Logout</a></li>
                <% } else { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Signup</a></li>
                <%}%>
            </div>
        </ul>
    </body>
</html>
