:root {
  --primary-bg-color: rgb(13, 14, 15); /* global scope */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border: 2px solid var(--primary-bg-color);
    background-color: var(--primary-bg-color);
    border-radius: 5px;
    border: 2px solid white;
}

form > span {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
   
}

label {
    background-color: var(--primary-bg-color);
}

button {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--primary-bg-color);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;
}

input {
    flex: 1;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

p {
    color: #ff0000;
    text-align: center;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}