form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 1rem;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}