:root {
  --primary-bg-color: rgb(13, 14, 15); /* global scope */
  --secondary-bg-color: #1a1d20; /* global scope */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid #2a2d31;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    max-width: 400px;
}


label {
    font-size: 0.8rem;
    background-color: var(--secondary-bg-color);
}

.addpost textarea {
    resize: none; 
    overflow-y: scroll;
}

.right > p {
    padding-right: 1rem;
}

.manage-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--primary-bg-color);
    border: 1px solid #2a2d31;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;
}

input {
    flex: 1;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    border-radius: 5px;
    border: 1px solid #2a2d31;
}

textarea {
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    border-radius: 5px;
    border: 1px solid #2a2d31;
}

#error {
    color: #ff0000;
    text-align: center;
}

#already {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-bg-color);
    font-size: 0.8rem;
}

p {
   
    padding: 0;
    margin: 0;
    background-color: var(--secondary-bg-color);
}

a {
  
    text-decoration: none;
    background-color: var(--secondary-bg-color);
}

.container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}