:root {
    --navbar-background: black;
    --navbar-hover: rgb(13, 14, 15);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: var(--navbar-background);
    padding-left: 2rem;
    padding-right: 0.5rem;
}

li{
    background-color: var(--navbar-background);
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

li:hover {
    background-color: var(--navbar-hover)
}

a {
    text-decoration: none;
    color: white;
}

ul > div, p {
    background-color: var(--navbar-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    gap: 1rem;
}