@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: Outfit;
    background-color: rgb(13, 14, 15);
    color: white;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(13, 14, 15); 
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(37, 40, 43); 
    border: 1px solid white;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(37, 40, 43); 
  }

  .all-post-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

.post-card {
    background-color: black;
    border: 1px solid #333;
    padding: 1.5rem;
    margin: 1rem;
    width: 90%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border-radius: 8px;
}

.post-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
    background-color: black;
}

.post-desc {
    font-size: 0.8rem;
    background-color: black;
    color: #ccc;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

h1 {
    text-align: center;
}



