* {
    background-color: #362f2f;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: rgb(13, 14, 15);
    padding-inline: 0.2rem;
}

li{
    background-color: rgb(13, 14, 15);
    padding: 0.8rem;
    cursor: pointer;
}


li:hover {
    background-color: rgb(35, 38, 41);
}

a {
    text-decoration: none;
}

ul > div, p {
    background-color: rgb(13, 14, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    gap: 1rem;
}