<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/forms.css" />
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <span>
                <label for="username">Username</label>
                <input
                    id="username"
                    name="username"
                    placeholder="username"
                    type="text"
                />
            </span>
            <span>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
            </span>
            <% if (error && error.length > 0) { %>
            <p><%= error[0] %></p>
            <% } %>
            <button type="submit">Log In</button>
        </form>
    </body>
</html>
